<p id="notice"><%= notice %></p>

<h2>You are currently standing at...</h2>
<p>
  <%= @location.my_location %>
</p>

<h2>The closest buses are...</h2>
<% if @bus_count == 0 %>
  <p>...not really that close.  Time to walk, bike, taxi, or Uber.</p>
<% end %>

<% @nearby_buses.each do |bus| %>
  <p>
    <strong>Route:</strong> <%= "#{bus['ROUTE']} #{bus['DIRECTION']}" %><br>
    <strong>Bus Number:</strong> <%= bus['VEHICLE'] %><br>
    <strong>Next Stop:</strong> <%= bus['TIMEPOINT'] %>
  </p>
<% end %>

<%= link_to 'New Search', edit_location_path(@location) %>
