<h2>You are currently standing at...</h2>
<p>
  <%= @location.my_location %>
</p>

<h2>The closest buses are...</h2>
<% if @bus_count == 0 %>
  <p>...not really that close.  Time to walk, bike, taxi, or Uber.</p>
<% end %>

<div id="map-canvas" style="height:500px;width:500px;margin:0;padding:0;"></div>

<% @nearby_buses.each do |bus| %>
  <p>
    <strong>Route:</strong> <%= "#{bus['ROUTE']} #{bus['DIRECTION']}" %><br>
    <strong>Bus Number:</strong> <%= bus['VEHICLE'] %><br>
    <strong>Next Stop:</strong> <%= bus['TIMEPOINT'] %>
  </p>
<% end %>

<%= link_to 'Edit Search', edit_location_path(@location), class: "btn btn-success" %>
<%= link_to 'New Search', new_location_path, class: "btn btn-primary" %>

<!-- =========   Google Maps API script   ========== -->
<!-- TODO:  Make zoom level vary based on user's desired bus radius -->
<script type="text/javascript">
  function initialize() {
    var myLatLng = new google.maps.LatLng(<%= @location.latitude %>, <%= @location.longitude %>);
    var nearbyBuses = <%= raw @nearby_buses.to_json %>;

    var mapOptions = {
      center: myLatLng,
      zoom: 15
    };

    var map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);

    var userMarker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      animation: google.maps.Animation.DROP,
      title: "You Are Here"
    });

    nearbyBuses.forEach(function (bus){
      var busLatLng = new google.maps.LatLng(bus['LATITUDE'], bus['LONGITUDE']);

      var marker = new google.maps.Marker({
        position: busLatLng,
        map: map,
        animation: google.maps.Animation.DROP,
        title: bus['VEHICLE']
      });
    });
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>